/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* common classes */
.header-bg{
    background-color: #264653;
}
.button-style{
    background: #E76F51;
}
.outline-button-style{
    border-color: #E76F51 ;
    color:#E76F51  ;
}
.gray-image{
    filter:grayscale(80%);
}
.highlited-heading{
    color: #E76F51;
}
.text-justify{
    text-align: justify;
}
.client-name{
    color: #23A6F0;
    font-weight: 600;
}
.client-img{
    border: 1px solid #BDBDBD;
}
.fa-star{
    color: #E77C40;
}
.icon-font{
    font-size: 4.5rem;
}
.bg-footer{
    background-color: #0B0D17;
}

/* some hover effect */
.service-element:hover{
    transform: scale(1.02,1.02);
    transition: transform 0.8s ease-in;
}
.button-style:hover{
    transform: scale(1.05,1.05);
    transition: transform 0.4s ease-out;
}
.outline-button-style:hover{
    color:#E76F51 ;
    transform: scale(1.05,1.05);
    transition: transform 0.4s ease-out;
}


/* bootstrap overriding for custom Accridion */
.accordion-button:not(.collapsed){
    color: black;
    background-color: transparent;
    box-shadow: none;
}
.btn:focus{
    box-shadow: none;
}